table{
    table-layout: fixed;
    padding: 1rem;
    width: 100%;
    height: 100%;
    border: 5px solid black;
}
.header-due{
    width: 7rem;
}
.header-priority, .header-options{
    width: 5rem;
}
/* 
due.style.width = `7rem`;
priority.style.width = `5rem`;
options.style.width = `5rem` */
.last-added{
    animation: row-bg 3s;
}
tr:hover{
    background-color: rgba(0, 0, 0, 0.068);
}
th{
    border: 1px solid black;
}
td{
    border: 1px solid black;
    padding: 0 .5rem;
}
.due, .priority{
    text-align: center;
}
.desc{
    text-align: justify;
}
.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    gap: .2rem;
}
.complete, .edit, .delete{
    width: 5rem;
    background-color: transparent;
}
.complete:hover, .edit:hover, .delete:hover{
    font-weight: bold;
}
.overdue{
    color: red;
}
@keyframes row-bg {
    0%{
        
        background-color: rgba(0, 0, 0, 0.25);
    }
    50%{
        background-color: rgba(0, 0, 0, 0.25);
    }
    100%{
        background-color: none;
    }
}