table{
    table-layout: fixed;
    padding: 1rem;
    width: 100%;
    height: 100%;
    border: 5px solid black;
}
.header-due{
    width: 7rem;
}
.header-priority, .header-options{
    width: 5rem;
}
.last-edited{
    animation: blinker .3s;
}
tr:hover{
    background-color: rgba(0, 0, 0, 0.15);
}
th{
    border: 1px solid black;
    padding-top: .25rem;
}
td{
    border: 1px solid black;
    padding: 0 .5rem;
}
.due, .priority{
    text-align: center;
}
.desc{
    text-align: justify;
}
.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    gap: .2rem;
}
.complete, .edit, .delete{
    color:inherit;
    width: 5rem;
    background-color: transparent;
    border: 1px solid black;
    padding-top: .25rem;
}
.complete:hover, .edit:hover, .delete:hover{
    font-weight: bold;
}
.completed{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.288)
}
.overdue{
    color: rgb(214, 0, 0);
}
@keyframes blinker {
    0%{
        
        background-color: rgba(0, 0, 0, 0.15);
    }
    20%{
        background-color: rgba(0, 0, 0, 0.0);
    }
    40%{
        
        background-color: rgba(0, 0, 0, 0.15);
    }
    60%{
        background-color: rgba(0, 0, 0, 0.0);
    }
    80%{
        background-color: rgba(0, 0, 0, 0.15);
    }
    100%{
        background-color: none;
    }
}