table{
    padding: 15px;
    width: 100%;
    border: 5px solid black;
}
.last-added{
    animation: row-bg 3s;
}
tr:hover{
    background-color: rgba(0, 0, 0, 0.068);
}
th{
    border: 1px solid black;
}
td{
    border: 1px solid black;
    padding: 0 .5rem;
}
@keyframes row-bg {
    0%{
        
        background-color: rgba(0, 0, 0, 0.25);
    }
    50%{
        background-color: rgba(0, 0, 0, 0.25);
    }
    100%{
        background-color: none;
    }
}