*{
    border: 1px solid black; 
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: bisque;
    margin: 0;
    display: flex;
}
form{
    padding: 1rem;
    border: 5px solid black;
    width: 30vw;
}
.form-title{
    font-weight: bold;
    text-align: center;
}
.text-div{
    display: flex;
}
textarea{
    width: 90%;
}
textarea:invalid+span:after {
    content: '✖';
    color: red;
    padding: 0 5px;
}
textarea:valid+span:after {
    content: '✓';
    color: green;
    padding: 0 5px;
}
input{

}
label {
    display: block;
}
span{
    margin: auto;
}
#start{
    text-align: center;
    line-height: 1.5rem;
    width: 87.3%;
    margin-bottom: 1rem;
}
#end{
    text-align: center;
    line-height: 1.5rem;
    width: 87.3%;
}
input:invalid+span:after {
    content: '✖';
    color: red;
    padding: 0 5px;
}
input:valid+span:after {
    content: '✓';
    color: green;
    padding: 0 5px;
}
table{
    padding: 15px;
    width: 100%;
    border: 5px solid black;
}
.priority.low{
    background-color: rgb(139, 199, 255);
}
.priority.med{
    background-color: rgb(251, 255, 0);
}
.priority.high{
    background-color: rgb(255, 143, 143);
}
.submit{
    padding: .2rem 2rem;
    display: flex;
    margin: .5rem auto;

}
.radio{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
.desc{
    margin: .5rem 0;
}
.calendar{
    margin: .5rem 0;
}